:host {
    background: #eeeeee;
}

div
{
   font-size: 1rem;
   color: #000;
   font-family: Raleway;
}

.home {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    height: 100%;
}
