:host {
  background: #eeeeee;
}

.pour-progress {
  padding: 2em;
}

#beer-pint-container {
  position: relative;
  padding: 20px;
  background-color: #eeeeee;
}

#pint {
  margin: 20px;
  display: flex;
  flex-direction: column-reverse;
  border: 10px solid #fff;
  border-top: 0;
  border-radius: 0 0 30px 30px;
  height: 240px;
  left: 14px;
  bottom: 0;
  width: 200px;
  overflow-x: hidden;
}

.beer-foam {
  position: relative;
  bottom: -15px;
}

.foam {
  float: left;
  position: absolute;
  width: 45px;
  height: 45px;
  border-radius: 30px;
  background-color: white;
  z-index: 2;
}

.foam:nth-child(1) {
  top: -30px;
  left: -10px;
}
.foam:nth-child(2) {
  top: -35px;
  left: 20px; 
}
.foam:nth-child(3) {
  top: -25px;
  left: 50px; 
}
.foam:nth-child(4) {
  top: -35px;
  left: 80px; 
}
.foam:nth-child(5) {
  top: -30px;
  left: 110px; 
}
.foam:nth-child(6){
  top: -20px;
  left: 145px; 
}
.foam:nth-child(7) {
  top: -30px;
  left: 150px;
}

#liquid {
  background-color: #edaf32;
  border: 10px solid #edaf32;
  border-radius: 0 0 20px 20px;
  height: 0px;
  overflow: hidden;
  width: 180px;
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  transition: height 1s ease-out;
}

#liquid:after {
  background-color: rgba(255, 255, 255, 0.25);
  bottom: -10px;
  content: '';
  height: 260px;
  left: -40px;
  position: absolute;
  transform: rotate(30deg);
  -webkit-transform: rotate(15deg);
  width: 110px;
}

#bubblesContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.bubble {
  animation-name: bubble;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  height: 20px;
  width: 20px;
  position: relative;
}

@keyframes bubble {
  0% { bottom: 0; }

   50% {
     background-color: rgba(255, 255, 255, 0.2);
      bottom: 80px;
   }

   100% {
     background-color: rgba(255, 255, 255, 0);
      bottom: 160px;
   }
}

.bubble:nth-child(1) {
  animation-delay: 1000ms;
  animation-duration: 1000ms;
}

.bubble:nth-child(2) {
  animation-delay: 700ms;
  animation-duration: 1100ms;
  margin-left: 10px;
}

.bubble:nth-child(3) {
  animation-delay: 1200ms;
  animation-duration: 1300ms;
}

.bubble:nth-child(4) {
  animation-delay: 1100ms;
  animation-duration: 700ms;
  margin-right: 5px;
}

.bubble:nth-child(5) {
  animation-delay: 1300ms;
  animation-duration: 800ms;
}

.bubble:nth-child(6) {
  margin-left: 5px;
  animation-delay: 900ms;
  animation-duration: 1500ms;
}
