.weather-container {
    background: white;
    display: flex;
    flex-direction: column;
}

.weather-container .temperature {
    font-size: 2em;
    color: #777777;
}

.weather-container .humidity {
    font-size: 2em;
    color: #777777;
}