<add-user-dialog
    *ngIf="this.addUserDialogActive"
    (commit)="onAddUserCommit($event)"
    (cancel)="onAddUserCancel($event)">
</add-user-dialog>
<div class="users-container">
    <div class="user-container">
        <a routerLink="/stats" routerLinkActive="active">
            <div class="user-icon">
                    <img class="user-icon"
                        [src]="'assets/stats.png'">
            </div>
        </a>
    </div>
    <div class="user-container">
        <div class="user-icon"
             (click)="this.addUserDialogActive = true">
             <img class="user-icon"
                  [src]="'assets/add_user.png'">
        </div>
    </div>
    <div class="user-container" *ngFor="let user of users; let i = index">
        <img [ngClass]="user.id === selectedUserId ? 'user-icon-selected' : 'user-icon'"
            [src]="'assets/profile_' + i % 10 + '.png'"
            (click)="onUserSelected(user)">
        <div class="user-name">{{user.name}}</div>
    </div>
</div>
