.temperature-container {
    z-index: 99 !important; 
    position: relative;
  }

.temperature-text {
    color: black;
    position: relative;
    margin-top: -30;
    margin-left: 35;
    font-weight: bold;
    font-family: Roboto;
}

.temp-icon {
    height: 40px;
    width: 15%
}