:host {
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.leaderboard {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 3em;
}

.leaderboard-title {
  font-size: 2em;
  font-weight: bold;
  color: #eee;
  font-family: Roboto;
  margin-top: 1em;
  margin-bottom: 1em;
}

.no-stats-message {
  font-size: 1.5em;
  font-weight: 300;
  color: #eee;
  font-family: Roboto;
}

.leaderboard-users {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.leaderboard-users::-webkit-scrollbar {
  display: none;
}

.leaderboard-user-banner-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 1em;
  height: 6em;
  width: 100%;
}

.leaderboard-user-banner {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.crown {
  height: 3em;
  width: 3em;
  padding: 0.5em;
  box-sizing: border-box;
}

.user-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 3em;
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
}

.name {
  font-family: Roboto;
  font-weight: bold;
  color: #eee;
}

.score {
  font-family: Roboto;
  color: white;
}

.score-bar {
  width: 100%;
  box-sizing: border-box;
  border-radius: 20em;
}